section#page-app {
  padding-top: 100px;

  .app-description {
    margin-top: 48px;

    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }

    .description {
      width: 600px;

      p {
        margin-top: 1em;
      }

      @media (max-width: $tablet) {
        margin: auto;
        order: 1;
      }

    }

    .btn {
      padding: 17px 40px;
      border-radius: 32px;
      background: $red;
      margin-top: 16px;
    }

    .picture {
      margin-left: 144px;

      @media (max-width: $tablet) {
        order: 0;
        margin: auto;
      }

      img {
        vertical-align: middle;
      }
    }
  }
}
