section#page-description {
  position: relative;

  background:
    url('../images/banner.png')
    center / cover
    no-repeat;

  .description-body {
    padding-top: 150px;
    padding-bottom: 200px;
    flex-direction: column;
    align-items: center;

    @media (max-width: $phone) {
      padding-top: 78px;
    }

    .form-description {
      margin-top: 32px;
      margin-bottom: 16px;
      text-align: center;

      @media (max-width: $phone) {
        margin-top: 15px;
      }
    }
    .access-form {
      width: 100%;
      max-width: 570px;

      .form-inputs {
        margin-bottom: 24px;

        input {
          flex-grow: 1;
          height: 50px;
          border-radius: 3px;
          border: 2px solid rgba($color: $dark-gray, $alpha: 0.1);
          background: rgba($color: $white, $alpha: 0.1);
          padding: 16px 22px;
          color: $white;

          &.input-email {
            margin-left: 24px;

            @media (max-width: $phone) {
              margin-left: 0px;
              margin-top: 24px;
            }
          }

          &::placeholder {
            color: $white;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
          }
        }

        @media (max-width: $phone) {
          flex-direction: column;
        }
      }

      button {
        width: 100%;
        height: 58px;
        border-radius: 5px;
        background: $green;
      }
    }
  }
}
