section#page-news {
  padding-top: 100px;

  h2 {
    padding-bottom: 50px;
  }

  .news-block {
    gap: 50px;

    .picture {
      max-width: 575px;
      flex-shrink: 1;
      img {
        vertical-align: middle;
        max-width: 100%;
        min-width: 370px;
      }
    }

    .news-item {
      max-width: 575px;
      flex-shrink: 4;

      .title {
        font-size: 30px;
        line-height: 1.5em;
        padding-bottom: 1em;

        @media (max-width: $tablet) {
          font-size: 16px;
          line-height: 26px;
        }
      }
      .text {
        margin-bottom: 1.5em;
      }

      .sign {
        img {
          margin-right: 16px;
          vertical-align: sub;
        }

        .name {
          margin-right: 16px;
          color: $orange;
        }
      }

      .btn {
        margin-top: 48px;
        padding: 17px 30px;
        font-size: 13px;
        line-height: 150%;
        border: 1px solid $dark-gray;
        border-radius: 5px;
        background: transparent;
      }
    }

    &:nth-child(odd) .picture {
      order: 1;

      @media (max-width: $tablet) {
        order: 0;
      }
    }

    & + .news-block {
      margin-top: 65px;
    }

    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
    }

  }
}
