section#page-popular-track {
  padding-top: 100px;

  .track-list {
    padding-top: 25px;

    .track-card {
      margin-top: 25px;
      padding-right: 50px;
      flex-basis: 50%;
      gap: 25px;
      font-size: 13px;

      @media (max-width: $tablet) {
        flex-basis: 100%;
        padding-right: 0;
      }

      .picture {
        width: 55px;
        height: 55px;
        min-width: 55px;
        margin-right: 15px;

        img {
          vertical-align: middle;
          width: 100%;
        }
      }

      .track-description {
        width: 100%;
        justify-content: space-between;
        align-items: center;

      .title {
        font-weight: bold;
      }
      }
    }
  }
}
