section#page-similar {
  padding-top: 100px;

  .similar-list {
    margin-top: 23px;

    .similar-card {
      margin-top: 25px;
      margin-right: 50px;

      @media (max-width: $tablet) {
        width: 180px;
      }

      @media (max-width: $phone) {
        width: 137px;
      }

      .picture {

        img {
          vertical-align: middle;
          width: 100%;
        }
      }

      .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5em;
        margin-top: 18px;
        text-align: center;
      }

      .fans {
        text-align: center;
      }
    }
  }

}
