.color-white {
  color: $white;
}

.color-gray {
  color: $gray;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.5em;

  @media (max-width: $tablet) {
    font-size: 45px;
  }
  @media (max-width: $phone) {
    font-size: 30px;
  }
}

h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 1.5em;

  @media (max-width: $tablet) {
    font-size: 24px;
  }
  @media (max-width: $phone) {
    font-size: 18px;
  }
}

h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 45px;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 1.5em;
  }
  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 1.5em;
  }
}

h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

}

main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  max-width: $desctop;
  margin: auto;
  padding: 100px 20px 0px;

}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-between {
    justify-content: space-between;
  }
}

.uppercase {
  text-transform: uppercase;
}

.ta-center {
  text-align: center;
}
.btn {
  color: $white;
  cursor: pointer;
}
