@import "_colors";
@import "_mixins";
@import "_vars";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("../fonts/Roboto-Regular.ttf");
}

*,
*::before,
*::after {
  @include reset;
  @include border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5em;
  background: $black;
  color: $white;
}

@import "framework";

@import "blocks/header";
@import "blocks/index-description";
@import "blocks/pricing";
@import "blocks/news";
@import "blocks/app";
@import "blocks/footer";
@import "blocks/artist-description";
@import "blocks/popular";
@import "blocks/discography";
@import "blocks/similar";
